<!DOCTYPE>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
		<style>
			body{
				background-color: skyblue;
				font-family: sans-serif;
				padding: 40px;
			}
			*{
				text-align: center;
				color:#fff;
			}
			h1{
				text-transform: uppercase;
				font-size: 4em;
			}
			p{
				font-size: 2em;
			}
			h3{
				margin-top:3em;
				font-size:0.8em;
				text-decoration:underline;
			}
			h4{
				margin-top: 10em;
			}
			i{
				color: red;
			}
			button{
				border: none;
				margin-top: 20px; 
				padding: 20px;
				width: 200px;
				text-transform: uppercase;
				font-weight: 800;
				letter-spacing: 1px;
				background-color: tomato;
				transition: all .4s ease-out;
			}
			button:hover{
				color:tomato;
				background-color: #fff;
				box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
				transform: scale(1.1);
			}
		</style>
		<script>
		</script>
	</head>
	<body>
		<h1>the Ninja Work-Force</h1>
		<p>The home of skilled Tech Wizards</p>
		<a href="/team"><button>The Team</button></a>
		<h3>Home to <%=data.length%> Wizards</h3>
		<h4>made with <span> <i class="fas fa-heart"></i></span> by <a target="_blank" href ="https://github.com/EdwinWalela">Edwin Walela</a> </h4>
	</body>
</html>