<!DOCTYPE>
<html>
	<head>
		<title>The Team</title>
		<style>
			body{
				background-color: tomato;
				font-family: sans-serif;
				padding: 40px;
			}
			*{
				text-align: center;
				list-style: none;
			}
			h1{
				text-transform: uppercase;
				font-size: 4em;
				color:#fff;
			}
			h3{
				font-size:0.8em;
				color:#fff;
			}
			p{
				text-align:left;
			}
			div{
				text-align:center;
				color:tomato;
				text-transform:uppercase;
				padding: 10px;
				margin: 2em auto;
				height: 120px;
				width: 50%;
				background-color:#fff;
				transition:all .3s ease-out
			}
			div:hover{
				transform:scale(1.1);
			}
			span{
				color:skyblue;
			}
				button{
				border: none;
				margin-top: 20px; 
				padding: 10px;
				width: 100px;
				text-transform: uppercase;
				font-weight: 800;
				letter-spacing: 1px;
				background-color: skyblue;
				transition: all .4s ease-out;
				color:#fff;
			}
			button:hover{
				color:skyblue;
				background-color: #fff;
				box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
				transform: scale(1.1);
			}
		</style>
	</head>
	<body>
		<h1>The team</h1>
		<h3>Showing <%= data.length %> member(s)</h3>
		<% for(var i = 0; i < data.length; i++){ %>
		<div>
			<p><span><strong>Name: </strong></span><%= data[i].name%></p>
			<p><span><strong>Age: </strong></span><%= data[i].age%></p>
			<p><span><strong>Skill-Set: </strong></span><%= data[i].job%></p>
		</div>
		<% } %>
		<a href="/"><button>Home</button></a>
	</body>
</html>






























